body {
  background-image: url("/static/assets/wallpaper.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #3d655f;
}

.navbar-brand img {
    height: 50px;
}

.cont_base {
    background-color: #8D5D50DD; 
    border-radius: 25px; 
    padding: 20px;
}

.corescura {
    background-color: #3D3A44;
}

.botaocriar{
    width:60px;
    height:60px;
    font-size:32px;
    background-color: #8D5D50DD;
    color: white;
}